useDynLib(lfe,.registration=TRUE, .fixes='C_')

export(felm,getfe,demeanlist,compfactor,kaczmarz,btrap,is.estimable,efactory)
import(Matrix)
import(Formula)
importFrom(xtable,xtable)
S3method(print,felm)
S3method(print,summary.felm)
S3method(summary,felm)
S3method(vcov,felm)
S3method(xtable, felm)
S3method(xtable, summary.felm)

# S3method(fixef,felm)
