useDynLib(lfe,.registration=TRUE, .fixes='C_')

export(felm,getfe,demeanlist,compfactor,kaczmarz,btrap,
       is.estimable,efactory,bccorr,fevcov,varvars,waldtest,
       condfstat, cgsolve, mctrace, makeDmatrix, ..oldfelm)

importFrom('methods', as)
importFrom('compiler', cmpfun)
importFrom('xtable', xtable)
importFrom('sandwich',estfun)
#importFrom('stats',as.formula,var,cov,rnorm,runif,coef,pt,pf,terms,
#           model.response,model.matrix,quantile,formula,na.action,printCoefmat,
#           getCall,vcov,pchisq,naprint)
import('stats')
importFrom('utils',relist, as.relistable,glob2rx,getS3method)
import('Formula')
#import('methods')
import('Matrix')
#importFrom('Matrix', nnzero, Cholesky, Matrix, rankMatrix, rBind, cBind,
#           band, t, diag, crossprod, tcrossprod)
S3method(print,felm)
S3method(print,summary.felm)
S3method(summary,felm)
S3method(coef,felm)
S3method(vcov,felm)
S3method(residuals,felm)
S3method(estfun,felm)
S3method(weights, felm)
S3method(update,felm)

S3method(xtable, felm)
S3method(xtable, summary.felm)

# S3method(fixef,felm)
